@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
html {
    font-size: 3vh;
}

body {
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 60%;
    height: 65%;
    margin: 0 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    overflow: hidden;
}

h1 {
    font-family: 'Big Shoulders Display';
}

p {
    font-family: 'Lexend Deca';
}


/* individual conatainer sections */

.containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 33.3%;
    height: 90%;
    padding: 4%;
    color: hsl(0, 0%, 95%);
}

.icons {
    width: 100%;
    transition: ease-out 2s;
}

.icons:hover {
    padding-left: 70%;
}

.icons img {
    width: 20%;
}

.containers p {
    font-size: 0.75rem;
    opacity: 0.85;
    width: 80%;
}

.containers button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
    border-radius: 2rem;
    border: none;
    transition: ease-out 0.5s;
    top: 3%;
    box-shadow: 2px 2px 9px;
    /* left: 1%; */
}

.containers button p {
    font-size: 0.5rem;
    text-align: center;
}


/* sedans */

.sedans {
    background-color: hsl(31, 77%, 52%);
}

#sedan {
    color: hsl(31, 77%, 52%);
}

#sedan:hover {
    border: white solid 0.125rem;
    background-color: hsl(31, 77%, 52%);
    color: white;
}


/* suv */

.suv {
    background-color: hsl(184, 100%, 22%);
}

#suv {
    color: hsl(184, 100%, 22%);
}

#suv:hover {
    border: white solid 0.125rem;
    background-color: hsl(184, 100%, 22%);
    color: white;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

#luxury {
    color: hsl(179, 100%, 13%);
}

#luxury:hover {
    border: white solid 0.125rem;
    background-color: hsl(179, 100%, 13%);
    color: white;
}

@media only screen and (max-width: 1200px) {
    body {
        height: 100%;
        width: 100%;
    }
    main {
        flex-direction: column;
        overflow: initial;
        width: 80%;
        height: 85%;
        margin: 8vh 0;
    }
    .containers {
        width: 90%;
        height: 80%;
        padding: 10%;
    }
    .sedans {
        border-radius: 1.5vh 1.5vh 0 0;
    }
    .luxury {
        border-radius: 0 0 1.5vh 1.5vh;
    }
}